﻿
@{
    ViewBag.Title = "Analysis";
    if (Session["ID"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
}

<style>
 .login-page {
        width: 600px;
        padding: 8% 0 0;
       margin: auto;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 600px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    
        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #EB8E98;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }

            .form button:hover, .form button:active, .form button:focus {
                background: #FEE2D7;
            }

        .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }

            .form .message a {
                color: #65725E;
                text-decoration: none;
            }

        .form .register-form {
            display: none;
        }

    .container {
        position: relative;
        z-index: 1;
        max-width: 500px;
        margin: 0 auto;
    }

        .container:before, .container:after {
            content: "";
            display: block;
            clear: both;
        }

        .container .info {
            margin: 50px auto;
            text-align: center;
        }

            .container .info h1 {
                margin: 0 0 15px;
                padding: 0;
                font-size: 36px;
                font-weight: 300;
                color: #1a1a1a;
            }

            .container .info span {
                color: #4d4d4d;
                font-size: 12px;
            }

                .container .info span a {
                    color: #000000;
                    text-decoration: none;
                }

                .container .info span .fa {
                    color: #FEE2D7;
                }

    body {
        background: #FEE2D7; /* fallback for old browsers */
        background: -webkit-linear-gradient(right, #FEE2D7);
        background: -moz-linear-gradient(right, #FEE2D7);
        background: -o-linear-gradient(right, #FEE2D7);
        background: linear-gradient(to left, #FEE2D7);
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

</style>
<script src="~/Scripts/Chart.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery-3.3.1.slim.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>  
<script>
    //var ValueArray =;
    //var DateArray =;

    
   
    var config = {

            type:'line',   
            data: {
                labels: [ @Html.Raw(Json.Encode(ViewBag.DateArray))],
                datasets: [{
                    label: "Your Data",
                    backgroundColor: [
                        "#f990a7",
                        "#aad2ed",
                        "#9966FF",
                        "#99e5e5",
                        "#f7bd83",
                    ],
                    data: [ @Html.Raw(Json.Encode(ViewBag.ValuesArray))]}], 
               
        },
    options: {
            responsive: true,
            title: {
            display: true,
            text: 'Chart with your data'
            }},
           
            scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Month'
                        }
                    }]},
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
            };
        
    //    options: {
    //        maintainAspecRaito:false,
    //        scales:{yAxes:[{ticks:{beginAtZero:true}}]},
    //        legend: {display:false}
    //    }
    //}
    window.onload = function() {
        var ctx = $("#my_chart").get(0).getContext("2d");
       //var ctx = document.getElementById('canvas').getContext('my_chart');
        window.myLine = new Chart(ctx, config);
    };
   
    
</script>
<h2><center>Analysis</center></h2>
@using (Html.BeginForm("Index", "Chart", FormMethod.Get)) { 
<div class="login-page">

    <div class="form">

        
            <canvas id="my_chart">
               
            </canvas>

        

    </div>
</div>}
