﻿@{
    ViewBag.Title = "Home Page";
    if (Session["ID"] == null)
    {
        Response.Redirect("~/Home/Login");
    }
}

<style>
    .page {
        width: 360px;
        padding: 8% 0 0;
        margin: auto;
    }

    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

        .form input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            width: 100%;
            border: 0;
            margin: 0 0 15px;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }

        .form button {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            outline: 0;
            background: #EB8E98;
            width: 100%;
            border: 0;
            padding: 15px;
            color: #FFFFFF;
            font-size: 14px;
            -webkit-transition: all 0.3 ease;
            transition: all 0.3 ease;
            cursor: pointer;
        }

            .form button:hover, .form button:active, .form button:focus {
                background: #FEE2D7;
            }

        .form .message {
            margin: 15px 0 0;
            color: #b3b3b3;
            font-size: 12px;
        }

            .form .message a {
                color: #65725E;
                text-decoration: none;
            }

        .form .register-form {
            display: none;
        }

    .container {
        position: relative;
        z-index: 1;
        max-width: 500px;
        margin: 0 auto;
    }

        .container:before, .container:after {
            content: "";
            display: block;
            clear: both;
        }

        .container .info {
            margin: 50px auto;
            text-align: center;
        }

            .container .info h1 {
                margin: 0 0 15px;
                padding: 0;
                font-size: 36px;
                font-weight: 300;
                color: #1a1a1a;
            }

            .container .info span {
                color: #4d4d4d;
                font-size: 12px;
            }

                .container .info span a {
                    color: #000000;
                    text-decoration: none;
                }

                .container .info span .fa {
                    color: #FEE2D7;
                }

    body {
        background: #FEE2D7; /* fallback for old browsers */
        background: -webkit-linear-gradient(right, #FEE2D7);
        background: -moz-linear-gradient(right, #FEE2D7);
        background: -o-linear-gradient(right, #FEE2D7);
        background: linear-gradient(to left, #FEE2D7);
        font-family: "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>
<script>
    $('.message a').click(function () {
        $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
    });
</script>
@*<h3>Username : @Session["userName"].ToString()</h3>*@

<div class="login-page">
    <h1/>
    <div class="form">
        @*<div id="jmbo" class="jumbotron">*@
        <h1>DepressionApp </h1>
        <p class="lead">Keep your depression at bay and get rid of your anxiety!</p>
        @using (Html.BeginForm("Mood", "Home", FormMethod.Get))
        {
            <p>
                <button>
                    Tell us your mood
                </button>
            </p>
        }
        @using (Html.BeginForm("Health", "Home", FormMethod.Get))
        {
            <p>
                <button>
                    Tell us how you feel
                </button>
            </p>
        }
        @using (Html.BeginForm("Relax", "Home", FormMethod.Get))
        {
            <p>
                <button>
                    Need to relax?
            </button>
            </p>
        }
        </div>
    </div>

